<h1>
  Ah, darn it.
</h1>
<p>
  Here we find ourselves, having an awkward conversation. You see, you've asked
  for a thing that, regrettably, we seem unable to find. This is known as what
  the geeks call a '404 conversation'.
</p>
<p>
  We've all had it before, we'll all have it again. But maybe for now, you could
  consider heading to <a routerLink="">our main page</a> or use the navigation
  at the top or bottom of this page to get yourself back on track.
</p>
<p>
  We're genuinely sorry for this.
</p>
