@import '~atlas-theme/src/styles/core/breakpoints';
@import '~atlas-theme/src/styles/core/variables';

$tTime: .35s;

:host {
  &::ng-deep {
    .sticking,
    .richContentItemOpen {
      .position-container {
        background: $clr-gray-xxl;
        color: $clr-gray-xxd;
        fill: $clr-gray-xxd;
      }

      .rich-menu-content {
        opacity: 1;
      }

      atl-rich-content-item {
        &.active {
          position: relative;
          opacity: 1;
          pointer-events: auto;
          transform: translateY(0);
        }
      }
    }

    .rich-menu-content {
      opacity: 0;
      overflow: hidden;
      background: $clr-gray-xxl;
      transition: opacity $tTime;
    }

    .collapse-menu-trigger {
      margin-top: -6px;
    }

    atl-rich-content-item {
      position: absolute;
      top: 0;
      width: 100%;
      padding: 30px 0;
      opacity: 0;
      transform: translateY(-10px);
      transition: opacity $tTime, transform $tTime;
      background: $clr-gray-xxl;
    }

    .position-container {
      background: transparent;
      color: $clr-gray-xxl;
      fill: $clr-gray-xxl;
      transition: all $tTime;
    }

    menu {
      &.primary {
        button {
          font-weight: 600;
          text-transform: uppercase;
          font-size: 12px;

          &.active {
            color: $clr-yellow-xl;

            mat-icon {
              opacity: 1;
              transform: translateY(8px);
            }
          }

          mat-icon {
            width: 14px;
            stroke: $clr-gray-xxd;
            opacity: 0;
            transform: translateY(-2px);
            transition: opacity $tTime, transform $tTime;
          }
        }
      }

      &.collapsed {
        color: $clr-gray-xxd;

        .menu-area {
          background: $clr-gray-xxl;
        }

        header {
          button {
            transform: rotate(0) scale(1);
            line-height: 0;
            transition: transform $tTime / 2;

            &:hover {
              transform: rotate(180deg) scale(1.25);
            }

            mat-icon {
              width: 16px;
              height: 16px;
            }
          }
        }

        ul {
          button {
            transition: background $tTime;

            &:hover {
              color: $clr-brown-l;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

.collapse-trigger-sm {
  display: block;
}

.collapse-trigger-lg {
  display: none;
}

[logo] {
  width: 200px;
  height: auto;
}

@media screen and (min-width: $screen-md-min) {
  :host {
    ::ng-deep {
      .collapse-menu-trigger {
        margin-top: 2px;
      }
    }
  }

  .collapse-trigger-sm {
    display: none;
  }

  .collapse-trigger-lg {
    display: block;
    font-weight: 600;
    font-size: 12px;

    mat-icon {
      position: relative;
      top: .1em;
      height: 1em;
      width: 1em;
      stroke: $clr-gray-xxl;
    }
  }

  [logo] {
    width: 180px;
  }
}

@media screen and (min-width: $screen-lg-min) {
  :host {
    &::ng-deep {
      menu {
        &.primary {
          margin-top: 3px;
        }
      }
    }
  }

  [logo] {
    width: 220px;
  }
}

@media screen and (min-width: $screen-xl-min) {
  :host {
    &::ng-deep {
      menu {
        &.primary {
          margin-top: 3px;

          button {
            font-size: 13px;
          }
        }
      }
    }
  }

  [logo] {
    width: 300px;
  }
}
