<footer>
  <div class="page-container">
    <section class="brand">
      <mat-icon svgIcon="logo-full"></mat-icon>
    </section>

    <hr />

    <section class="social">
      <h3>FOLLOW US</h3>
      <ul>
        <li>
          <mat-icon svgIcon="facebook"></mat-icon>
        </li>
        <li>
          <mat-icon svgIcon="instagram"></mat-icon>
        </li>
        <li>
          <mat-icon svgIcon="pinterest"></mat-icon>
        </li>
        <li>
          <mat-icon svgIcon="twitter"></mat-icon>
        </li>
      </ul>
    </section>

    <section class="content">
      <div class="columns">
        <div class="column">
          <h3>About Atlas</h3>
          <ul>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
          </ul>
        </div>
        <div class="column">
          <h3>Products</h3>
          <ul>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
          </ul>
        </div>
        <div class="column">
          <h3>Resources</h3>
          <ul>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="extras"></section>
  </div>
</footer>
