<footer>
  <div class="page-container">
    <section class="brand">
      <mat-icon svgIcon="logo-full"></mat-icon>
    </section>

    <hr />

    <section class="social">
      <h3>FOLLOW US</h3>
      <ul>
        <li>
          <button type="button">
            <mat-icon svgIcon="facebook"></mat-icon>
          </button>
        </li>
        <li>
          <button type="button">
            <mat-icon svgIcon="instagram"></mat-icon>
          </button>
        </li>
        <li>
          <button type="button">
            <mat-icon svgIcon="pinterest"></mat-icon>
          </button>
        </li>
        <li>
          <button type="button">
            <mat-icon svgIcon="twitter"></mat-icon>
          </button>
        </li>
      </ul>
    </section>

    <section class="content">
      <div class="column">
        <h3>Products</h3>
        <ul>
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
          <li>Item 4</li>
          <li>Item 3</li>
          <li>Item 4</li>
          <li>Item 3</li>
          <li>Item 4</li>
        </ul>
      </div>
      <div class="column">
        <h3>About Atlas</h3>
        <ul>
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
          <li>Item 4</li>
        </ul>
      </div>
      <div class="column">
        <h3>Resources</h3>
        <ul>
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 2</li>
          <li>Item 3</li>
          <li>Item 4</li>
        </ul>
      </div>
    </section>

    <section class="extras">
      <div class="made-in-co">
        <mat-icon svgIcon="colorado" class="colorado"></mat-icon>
        <span class="text-lockup">
          Made with<br>
          <mat-icon svgIcon="heart" class="heart"></mat-icon>
          in Colorado
        </span>
      </div>
      <mat-icon class="tree" svgIcon="tree"></mat-icon>
      <span>
        &copy; Atlas Ergo {{ year }}
      </span>
    </section>
  </div>
</footer>
